{% extends "frontend/base.html.twig" %}

{% block title %}{{ 'front.layout.footer_3.left.cookies_policy' | trans }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container">
        <main>
            <div class="row my-5">
                <div class="col-12">
                    <h2>{{ 'front.cookies_policy.title_1' | trans }}</h2>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-9">
                    <h4 class="mb-4">{{ 'front.cookies_policy.title_2' | trans }}</h4>
                    <p>{{ 'front.cookies_policy.text_section_2_line_1' | trans }}</p>
                    <p>{{ 'front.cookies_policy.text_section_2_line_2' | trans }}</p>
                    <p>{{ 'front.cookies_policy.text_section_2_line_3' | trans }}</p>
                    <ul>
                        <li>{{ 'front.cookies_policy.text_section_2_line_4' | trans }}</li>
                        <li>{{ 'front.cookies_policy.text_section_2_line_5' | trans }}</li>
                    </ul>
                </div>
                <div class="col-3">
                    <figure>
                        <blockquote class="blockquote">
                            <p><a href="https://www.boe.es/buscar/doc.php?lang=ca&id=DOUE-L-2016-80807" target="_blank">{{ 'front.cookies_policy.text_section_2_line_7' | trans }}</a></p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            {{ 'front.cookies_policy.text_section_2_line_8' | trans }}
                        </figcaption>
                    </figure>
                    <figure>
                        <blockquote class="blockquote">
                            <p><a href="https://www.boe.es/buscar/act.php?id=BOE-A-2002-13758" target="_blank">{{ 'front.cookies_policy.text_section_2_line_9' | trans }}</a></p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            {{ 'front.cookies_policy.text_section_2_line_10' | trans }}
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-9">
                    <h4 class="mb-4">{{ 'front.cookies_policy.title_3' | trans }}</h4>
                    <p>{{ 'front.cookies_policy.text_section_3_line_1' | trans }}</p>
                    <ul>
                        <li>{{ 'front.cookies_policy.text_section_3_line_2' | trans }}</li>
                        <li>{{ 'front.cookies_policy.text_section_3_line_3' | trans }}</li>
                    </ul>
                    <p>{{ 'front.cookies_policy.text_section_3_line_4' | trans }}</p>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-9">
                    <h4 class="mb-4">{{ 'front.cookies_policy.title_4' | trans }}</h4>
                    <p>{{ 'front.cookies_policy.text_section_4_line_1' | trans }}</p>
                    <p>{{ 'front.cookies_policy.text_section_4_line_2' | trans }}</p>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">{{ 'front.cookies_policy.table.head.column1' | trans }}</th>
                                <th scope="col">{{ 'front.cookies_policy.table.head.column2' | trans }}</th>
                                <th scope="col">{{ 'front.cookies_policy.table.head.column3' | trans }}</th>
                                <th scope="col">{{ 'front.cookies_policy.table.head.column4' | trans }}</th>
                                <th scope="col">{{ 'front.cookies_policy.table.head.column5' | trans }}</th>
                                <th scope="col">{{ 'front.cookies_policy.table.head.column6' | trans }}</th>
                                <th scope="col">{{ 'front.cookies_policy.table.head.column7' | trans }}</th>
                            </tr>
                            </thead>
                            <tbody class="table-group-divider">
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}

{% block footer_background_color_style_attribute %}{% endblock %}
