{% block trix_form_type_widget %}
    {{ dump(form.vars.id) }}
    <input id="{{ form.vars.id }}" value="{{ form.vars.value }}" type="hidden" name="{{ form.vars.full_name }}">
    <trix-toolbar id="app-toolbar-{{ form.vars.id }}">
        <div class="trix-button-row">
          <span class="trix-button-group trix-button-group--text-tools" data-trix-button-group="text-tools">
            <button
                type="button"
                class="trix-button trix-button--icon trix-button--icon-bold"
                data-trix-attribute="bold"
                data-trix-key="b"
                title="Bold"
                tabindex="-1"
                data-trix-active=""
            >
                Bold
            </button>
            <button
                type="button"
                class="trix-button trix-button--icon trix-button--icon-italic"
                data-trix-attribute="italic"
                data-trix-key="i"
                title="Italic"
                tabindex="-1"
            >
                Italic
            </button>
            <button
                type="button"
                class="trix-button trix-button--icon trix-button--icon-strike"
                data-trix-attribute="strike"
                title="Strikethrough"
                tabindex="-1"
            >
                Strikethrough
            </button>
            <button
                type="button"
                class="trix-button trix-button--icon trix-button--icon-link"
                data-trix-attribute="href"
                data-trix-action="link"
                data-trix-key="k"
                title="Link"
                tabindex="-1"
            >
                Link
            </button>
          </span>
        </div>
        <div class="trix-dialogs" data-trix-dialogs="">
            <div class="trix-dialog trix-dialog--link" data-trix-dialog="href" data-trix-dialog-attribute="href">
                <div class="trix-dialog__link-fields">
                    <input type="url" name="href" class="trix-input trix-input--dialog" placeholder="Enter a URL…"
                           aria-label="URL" required="" data-trix-input="" disabled="disabled">
                    <div class="trix-button-group">
                        <input type="button" class="trix-button trix-button--dialog" value="Link"
                               data-trix-method="setAttribute">
                        <input type="button" class="trix-button trix-button--dialog" value="Unlink"
                               data-trix-method="removeAttribute">
                    </div>
                </div>
            </div>
        </div>
    </trix-toolbar>
    <trix-editor input="{{ form.vars.id }}" style="min-height:{{ trix_height }}" toolbar="app-toolbar-{{ form.vars.id }}"></trix-editor>
{% endblock %}
